/target/
/results/
*.profraw
tmux-*.log
.DS_Store
__pycache__/
/research/ahinlendor/external/*.so
/local/benchmarks/
/local/strength/
/local/research/
/local/research-venv/
/local/web-games/
/benchmarks/strength/information-fair/screen/**/*.jsonl
/benchmarks/strength/information-fair/confirmation/**/*.jsonl
/benchmarks/strength/information-fair/interrupted/**/*.jsonl
/local/play-speed/

/web/public/onnxruntime/
